In [1]:
import os
os.chdir('C:\\Users\\User\\Documents\\stat2020\\Week2_data\\transportation')
os.getcwd()

'C:\\Users\\User\\Documents\\stat2020\\Week2_data\\transportation'

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.offline as pyo
import plotly.graph_objs as go
%matplotlib inline

In [3]:
df = pd.read_csv('cair2.csv',sep=',', header='infer')
dff2 = df.rename(columns={"Region": "Year"})
dff2

,Year,1990 [YR1990],2000 [YR2000],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
0,South Asia,5300.0,3409.0,21677.00000,25021.000000,17775.000000,21696.000000,25920.000,23532.0,22770.0,24207.0,24433.446000
1,Africa,44100.0,40202.0,53088.00000,53286.000000,54292.000000,55516.000000,60066.000,65940.0,73465.0,74714.0,77463.000000
2,Africa,6900.0,4399.0,17060.00000,12282.000000,13072.000000,14496.000000,13716.000,13116.0,15482.0,13494.0,13978.000000
3,North America,58000.0,62070.0,39865.00000,36533.603997,33606.039224,52572.000000,46404.000,40047.0,40928.0,24019.0,23206.966273
4,South America,114000.0,168815.0,92847.50654,90214.520534,101716.268913,145136.020725,134521.000,145585.0,149334.0,146631.0,161688.000000
...,...,...,...,...,...,...,...,...,...,...,...,...
108,South America,82000.0,138500.0,84065.00000,83106.000000,78583.162378,92813.000000,90235.000,73509.0,64058.0,43138.0,24986.000000
109,Southeast Asia,1800.0,28999.0,109176.00000,135905.672937,135300.414089,149527.817000,167386.363,205217.0,248580.0,264548.0,283787.000000
110,Middle East,14100.0,14608.0,20600.00000,20176.728526,16807.407296,16932.000000,16056.000,5126.0,4538.0,1669.0,2342.000000
111,Africa,6500.0,6118.0,9730.00000,11497.000000,8288.000000,7997.000000,8050.000,11130.0,8094.0,9020.0,734.000000
112,Africa,10300.0,13603.0,7077.00000,10020.705611,11560.367854,27684.000000,3730.000,4145.0,4231.0,3444.0,3444.000000

In [4]:
df2 =dff2.set_index('Year')
meandf2 = df2.groupby(by="Year").mean()
meandf2

,1990 [YR1990],2000 [YR2000],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018]
Year,,,,,,,,,,,
Africa,13383.333333,16272.633333,2.852942e+04,2.876960e+04,2.915510e+04,3.167321e+04,3.159596e+04,3.217763e+04,3.284760e+04,3.414450e+04,3.420221e+04
Australia and Oceanea,80250.000000,120121.833333,1.440410e+05,1.454759e+05,1.496985e+05,1.517045e+05,1.550467e+05,1.583115e+05,1.594347e+05,1.598857e+05,1.575004e+05
East Asia,199475.000000,361562.500000,8.983571e+05,9.086415e+05,9.850770e+05,1.088231e+06,1.163263e+06,1.255140e+06,1.352636e+06,1.473527e+06,1.554609e+06
Eastern Europe,37260.000000,45741.600000,8.063105e+04,7.969507e+04,6.907537e+04,6.918160e+04,7.779336e+04,7.903920e+04,8.181080e+04,9.279400e+04,1.037112e+05
Middle East,23321.428571,40861.142857,9.494915e+04,1.027843e+05,1.113402e+05,1.201918e+05,1.284887e+05,1.388419e+05,1.497736e+05,1.560011e+05,1.581079e+05
North America,685490.909091,937244.272727,1.093437e+06,1.086991e+06,1.075096e+06,1.072643e+06,1.061060e+06,1.061798e+06,1.083211e+06,1.087227e+06,1.114041e+06
Northern Europe,215475.000000,294844.500000,4.351119e+05,4.666780e+05,4.662259e+05,4.649205e+05,4.729807e+05,5.028958e+05,5.549365e+05,5.588160e+05,5.898508e+05
South America,84270.000000,130180.800000,1.544286e+05,1.704055e+05,1.773448e+05,1.840052e+05,1.874894e+05,1.890358e+05,1.760966e+05,1.715540e+05,1.770955e+05
South Asia,34928.571429,41511.142857,1.141529e+05,1.277430e+05,1.235429e+05,1.286775e+05,1.342329e+05,1.421109e+05,1.629953e+05,1.827517e+05,2.122843e+05
Southeast Asia,57487.500000,62794.625000,1.641907e+05,1.873467e+05,1.979389e+05,1.984407e+05,2.286615e+05,2.414770e+05,2.698360e+05,2.738360e+05,2.883681e+05
Thailand,69500.000000,101591.000000,2.013060e+05,2.273220e+05,2.523689e+05,2.984500e+05,3.380540e+05,3.926640e+05,4.138800e+05,4.484770e+05,4.758865e+05
Western Europe,133407.692308,270761.923077,2.798705e+05,2.870873e+05,2.773856e+05,2.675181e+05,2.653838e+05,2.697366e+05,2.712536e+05,2.708840e+05,2.723471e+05

In [5]:
dff2.to_csv('df2air.csv',index=False)

In [6]:
df_trans = meandf2.T

In [7]:
df_trans

Year,Africa,Australia and Oceanea,East Asia,Eastern Europe,Middle East,North America,Northern Europe,South America,South Asia,Southeast Asia,Thailand,Western Europe
1990 [YR1990],13383.333333,80250.000000,1.994750e+05,37260.000000,23321.428571,6.854909e+05,215475.000000,84270.000000,34928.571429,57487.500000,69500.000000,133407.692308
2000 [YR2000],16272.633333,120121.833333,3.615625e+05,45741.600000,40861.142857,9.372443e+05,294844.500000,130180.800000,41511.142857,62794.625000,101591.000000,270761.923077
2010 [YR2010],28529.419850,144041.000000,8.983571e+05,80631.051587,94949.148719,1.093437e+06,435111.905942,154428.562186,114152.857809,164190.652501,201306.000000,279870.512135
2011 [YR2011],28769.595561,145475.929089,9.086415e+05,79695.066444,102784.266273,1.086991e+06,466678.000000,170405.529379,127743.004539,187346.688516,227322.000000,287087.335046
2012 [YR2012],29155.099400,149698.473644,9.850770e+05,69075.366330,111340.239976,1.075096e+06,466225.923314,177344.847541,123542.884601,197938.943757,252368.898405,277385.587494
2013 [YR2013],31673.209067,151704.500000,1.088231e+06,69181.600000,120191.814045,1.072643e+06,464920.500000,184005.232508,128677.485714,198440.668095,298450.000000,267518.069923
2014 [YR2014],31595.963141,155046.666667,1.163263e+06,77793.360000,128488.669584,1.061060e+06,472980.675000,187489.436487,134232.874286,228661.545747,338053.981663,265383.773588
2015 [YR2015],32177.633333,158311.500000,1.255140e+06,79039.200000,138841.928571,1.061798e+06,502895.750000,189035.800000,142110.857143,241477.000000,392664.000000,269736.615385
2016 [YR2016],32847.600000,159434.666667,1.352636e+06,81810.800000,149773.642857,1.083211e+06,554936.500000,176096.600000,162995.285714,269836.000000,413880.000000,271253.615385
2017 [YR2017],34144.500000,159885.666667,1.473527e+06,92794.000000,156001.149143,1.087227e+06,558816.000000,171554.000000,182751.714286,273835.958750,448477.000000,270884.000000
2018 [YR2018],34202.211973,157500.361797,1.554609e+06,103711.200000,158107.904376,1.114041e+06,589850.825648,177095.536300,212284.324960,288368.148551,475886.496000,272347.072268

In [8]:
df_trans.set_index("Year", inplace = True)
df_trans

KeyError: "None of ['Year'] are in the columns"

In [ ]:
df_trans

In [ ]:
sns.lineplot(data=df_trans)
locs, labels = plt.xticks()
plt.setp(labels, rotation=45)

plt.legend(loc='center left', bbox_to_anchor=(1.0, 0.5))

In [ ]:
chart = df_trans.plot.line()
chart.set_xticklabels(chart.get_xticklabels(), rotation=45, horizontalalignment='right')
plt.legend(loc='center left', bbox_to_anchor=(1.0, 0.5))
plt.show()

In [ ]:
trace = go.Scatter(x=df.index,
                    y=df_trans,
                    mode='lines',
                    name='time_to_series')
data = [trace]

In [ ]:
layout = go.Layout(title='airtransport',
                   xaxis = {'title':'Year'},
                   yaxis = {'title':'Country',
                           'range': [560,5800000]}, 
                   hovermode='closest',
                   )

In [ ]:
fig = go.Figure(data=data, layout=layout)
pyo.plot(fig)